.title-container {
  width: 25%;
  min-height: 64px;
  background: var(--main-green-ultra-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold;
}

.table {
  color: black;
  border-collapse: collapse;
  width: 75%;
  table-layout: fixed;
}

.table th,
.table td {
  text-align: left;
  padding: 4px;
}

.table th:nth-child(odd) {
  background-color: var(--gray-ultra-light);
}

.table th:nth-child(even) {
  background-color: var(--gray-light);
}

.table tr:nth-child(odd) td:nth-child(odd) {
    background-color: #dff0d8;
}

.table tr:nth-child(odd) td:nth-child(even) {
    background-color: #c8e6c9;
}

.table tr:nth-child(even) td:nth-child(odd) {
    background-color: #eeeeee;
}

.table tr:nth-child(even) td:nth-child(even) {
    background-color: #dddddd;
}

.table tr:nth-child(odd) td:nth-child(odd) .status-button{
    background-color: #c8e6c9;
    border: 0px;
    width: 100%;
}

.table tr:nth-child(even) td:nth-child(odd) .status-button{
    background-color: #dddddd;
    border: 0px;
    width: 100%
}

.header-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table .status-cell, .table .center-text-cell {
  text-align: center;
  padding: 0px;
}

.status-cell .dropdown {
  display: block;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.sort-icon {
  margin-left: auto;
}

.view-mode-button {
  width: 96px;
}

.table-box {
  display: flex;
  flex-direction: column;

  min-height: 32px;
  min-width: 32px;
  height: auto;
  width: auto;

  padding: 20px;
  box-sizing: border-box;
  gap: 10px;

  justify-content: flex-start;
  align-items: center;

  background: var(--main-green-ultra-dark);
}

.modal-overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);

  z-index: 99;
}

.modal {
  display: flex;
  flex-direction: column;

  background: var(--main-green-dark);

  padding: 20px;

  border: 2px solid var(--main-green-ultra-dark);
  border-radius: 8px;

  min-width: 300px;

  gap: 12px;
}

.modal-add-inputs {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.delete-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 32px;
  min-width: 32px;

  padding: 0 12px;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight:bold;
  text-align: center;

  background-color: rgb(71, 102, 255, 0);
  color: rgb(232, 49, 49);

  border: 0px;

  box-shadow:rgb(from background-color 100 100 100);

  cursor: pointer;
}